.container{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
.menu{
    position:fixed;
    margin-top: 5%;
    margin-left:1%;
    width: 15%;
    height:auto;
    background-color: rgb(0, 111, 205);
    padding: 25px;
    border-radius: 15px;
    display: block;
}
.text{
    position:absolute;
    right :1%;
    top: 5%;
    width: 70%;
    height: 90%;
    padding: 20px;
    display:block;
}
.linktext{
    color: rgb(0, 111, 205);
}
body{
    background-color: rgb(230, 255, 255);
}
img{
    object-fit: contain;
}
a{
    text-decoration: none;
    color: rgb(220, 255, 255);
}
p{
    line-height: 45px;
    word-spacing: 4px;
    text-indent:30px;
    text-align: left;
    font-size: 30px;
    font: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 20, 37);
}
h1{
    margin-top: 3%;
    font-size: 65px;
    text-align: left;
    font: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 111, 205);
}
h2{
    text-align: left;
    font: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 20, 37);
}
h3{
    font-size:120%;
    margin-left:15% ;
    text-align: left;
    font: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 20, 37);
}
h4{
    font-size:250%;
    margin-top: 5%;
    text-align: left;
    font: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 20, 37);
}
u{
    text-decoration: none;
    font-size:200%;
    text-align: left;
    font: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 20, 37);
}
